<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Console Dashbord script">

<test name="Campaign Progress Script">
		<classes>
			<class name="com.lrn.reportsScript.CampaignProgress"/>
		</classes>
	</test>


  	<test name="Module Completion Script">
		<classes>
			<class name="com.lrn.reportsScript.ModuleCompletionScript"/>
		</classes>
	</test>
	
	  
  	
  <test  name="User Progress Script">
    <classes>
      <class name="com.lrn.reportsScript.UserProgressScript"/>
    </classes>
  </test> <!-- Test -->
 


  
   	<!-- <test name="Report Script">
		<classes>
			<class name="com.lrn.reportsScript.ReportScript"/>
		</classes>
	</test> -->
</suite> <!-- Suite -->
